/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    grid-gap: 10px 10px;
}

/* Grid Items */
.grid-item {
    background-color: lightgray;
    height: 150px;
    width: 200px;
    border-radius: 5px;
    font-size: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}